.market-container {
  padding: 0;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  width: 80%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}
/* dropdown for market table */

.drop-market-container {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: rgba(155, 63, 22, 0.5);
  border-radius: 30px;
}

.drop-market-btn {
  width: 100%;
  height: 120px;
  text-align: center;
  border-radius: 30px;
  font-family: Acme;
}

.drop-market-btn td:hover {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition-duration: 0.3s;
}

.drop-market-content {
  display: none;
  background-color: rgba(161, 189, 234, 0.7);
  border-radius: 30px;
  padding: 30px;
  color: white;
}

.drop-market-content:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.drop-market-content p {
  display: block;
  font-size: 1.5em;
}

.drop-market-container:hover .drop-market-content {
  display:block;
  transition-duration: 0.3s;
}

.drop-market-container:hover .drop-market-btn {
  background-color: rgba(0, 0, 0, 0.2);
}

.drop-market-btn td {
  width: 25%;
}

.market-btn {
  display: inline-block;
  margin-left: 37%;
  margin-right: 37%;
  height: 40px;
  width: 26%;
  clear: both;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  font-family: Acme;

  background-color: white;
  border: 2px solid #008CBA;
  transition:all 0.3s;
}

.market-btn:hover {
  background-color: #008CBA;
  color: white;
}

.market-btn span{
  position: relative;
  transition: 0.3s;
}

.market-btn span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  right: -15px;
}

.market-btn:hover span{
  padding-right: 15px;
}

.market-btn:hover span:after{
  opacity: 1;
  right: 0;
}

.loged-delete {
  display: inline-block;
  margin-bottom: 2%;
  margin-left: 37%;
  margin-right: 37%;
  height: 40px;
  width: 26%;
  border-radius: 10px;
  float: left;
  font-size: 1em;
  font-weight: bold;
  font-family: Acme;

  background-color: white;
  border: 2px solid #f44336;
  transition:all 0.3s;
}

.loged-delete:hover {
  background-color: #f44336;
  color: white;
}

.book-register-btn{
  width: 30%;
  height: 100px;
  margin-left: 35%;
  margin-top: 5%;
  background-color: white;
  border: 5px solid #008CBA;
  border-radius: 20px;
  font-size: 3em;
  font-family: Acme;
  transition-duration: 0.4s;
}

.book-register-btn:hover{
  transition-duration: 0.4s;
  color: white;
  background-color: #008CBA;
}


.upper-border {
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: dotted;
}

.left-border {
  border-left: 1px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-style: dotted;
}

/* tabls styles */

.book-table, .book-status-table, .usage-table{
  width: 100%;
  height: auto;
  font-size: 1.6em;
  font-family: Acme;
  text-align: center;
  background-color: #777799;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.book-table td, .book-status-table td, .usage-table td {
  width: 50%;
  height: 65px;
}

.book-table tr:nth-of-type(2n), .book-status-table tr:nth-of-type(2n), .usage-table tr:nth-of-type(2n) {
  background-color: #9999ff;
}

.book-image {
  width: 100%;
  height: 100%;
}
